.arm-star-reting-content-star,
.arm-star-reting-content-star * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.arm-star-reting-content-star {
	width: 100%;
	max-width: 100px;
	height: 20px;
}
.arm-star-reting-content-star .arm-star-reting-waveform-bg {
	-webkit-clip-path: url(#buckets);
	clip-path: url(#buckets);
	fill: #FFFFFF;
}

.arm-star-reting-content-star .arm-star-reting-loader-star {
	-webkit-clip-path: url(#buckets);
	clip-path: url(#buckets);
}

.arm-star-reting-waveform-bg {
	cursor: pointer;
}

.arm-star-reting-mouse-over.overed {
	cursor: pointer;
	fill: rgb(255,200,0);
}